.slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    bottom: 70px;
    border-radius: 50%;
    position: absolute;
    right: 670px;
    border: 1px solid transparent;
    background-color: #E4E4E4;
    list-style: none;
    cursor: pointer;
}

.slick-dots li:nth-child(1) button {
    width: 12px;
    height: 12px;
    right: 652px;
    border: none;
}

.slick-dots li:nth-child(2) button {
    width: 12px;
    height: 12px;
    right: 634px;
    border: none;
}

.slick-dots li:nth-child(3) button {
    width: 12px;
    height: 12px;
    right: 615px;
}