html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Gilroy Light';
    font-size: 16px;
    line-height: 19px;
}

li {
    list-style-type: none;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    font-family: 'Gilroy Extra Bold';

}

a {
    font-family: 'Gilroy Regular';
    display: inline-block;
    text-decoration: none;
    color: #333333;

    &:hover {
        cursor: pointer;
    }
}

.header {
    position: relative;
    // margin-top: 21px;
    height: 100vh;


}

.container {
    // max-width: 1170px;
    padding-left: 50px;
}