@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/Gilroy-Light.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
}

// @font-face {
//     font-family: 'slick';
//     font-weight: normal;
//     font-style: normal;

//     // src: url('./fonts/slick.eot');
//     // src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
// }